@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1, h2, h3 {
    font-family: "Bricolage Grotesque", sans-serif;
}

.button-bg {
    background-image: url('images/button-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    background-image: linear-gradient(130deg, rgba(155, 144, 196, 0.1) 0%, rgba(62, 67, 127, 0.2) 100%);
}

.vdo-back {
    background-image: url('images/cms-bg_2b06w496.svg');
}

.group:hover .dropdown {
    display: block;
}

.mfp-iframe-scaler {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    position: relative;
  }

  .mfp-iframe-scaler iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }